.CIC-Table {
	width: 60%;
	border: 5px solid #243d51;
}
 
.CIC-Table td {
	border: 0px solid white;
}

.CIC-Data td {
	border: 1px solid black;
}
 
#borderonright {
	border-right: 3px solid #243d51
}
.cb {
	height: 50px;
	width: 50px;
	border-radius: 30px;
	display: inline;
}
#print-button {
	cursor: pointer;
}
div.form-containers>input[type="checkbox"]:not(:checked) {
	height: 40px;
	width: 40px;
}
